<h2>Suggestion Box</h2>

<p>List of topics submitted so far:</p>

<% if @topics.blank? %>
  <p>No topics submitted so far. Do you have any suggestions?</p>
<% else %>
  <ul>
    <%= render @topics %>
  </ul>
<% end %>

<p><%= link_to  "Suggest Something", new_topic_path %></p>
