<h2>Suggestion Box</h2>

<p>List of topics submitted so far:</p>

<% if @topics.blank? %>
  <p>No topics submitted so far. Do you have any suggestions?</p>
<% else %>
  <table>
    <thead><tr><th>Topic</th><th></th><th>Vote Tally</th></tr></thead>
    <tbody>
    <%= render @topics %>
    </tbody>
  </table>
<% end %>

<p><%= link_to  "Suggest Something", new_topic_path %></p>
